---

# A/B Test - Problem Description

A Electronic House é um comercio online ( e-commerce ) de produtos de informática
para casas e escritórios. Os clientes podem comprar mouses, monitores, teclados,
computadores, laptops, cabos HDMI, fones de ouvido, cameras webcam, entre
outros, através de um site online e recebem os produtos no conforto de suas casas

O Diretor de Produtos Global pediu ao Head de Design que desenvolvesse uma
nova forma de finalizar a compra com cartão de crédito, sem a necessidade do
cliente preencher manualmente todas as informações do cartão e que funcionasse
em todos os países.

Depois de meses desenvolvendo esse dispositivo, o time de Desenvolvimento
Backend entregou uma solução de pagamentos, na qual **90% das informações do
formulário eram preenchido automaticamente.**

O Head de Designer gostaria de medir a efetividade do novo dispositivo de
preenchimento automático dos dados do cartão de crédito na página de vendas e
reportar os resultados ao Diretor de Produtos Global, para concluir se a nova forma
de pagamento é realmente melhor do que a antiga.

As duas páginas foram colocadas no ar e durante alguns meses e o time de FrontEnd desenvolveu uma automação que atribui um rótulo para cada cliente,
mostrando qual a página de vendas aquele determinado cliente estava visualizando.
Todos esses dados foram armazenados em um banco de dados e podem ser
acessados pelos times da Electronic House.

Depois de alguns meses de experimento, o time de Designers da Electronic House,
precisa avaliar os resultados do experimento realizado, a fim de concluir qual era a
forma de pagamento mais eficaz.

Porém, o time não possui as habilidades necessárias para avaliar os dados e
concluir o experimento. Nesse contexto, você foi contratado como Cientista de
Dados para ajudar o time de Designers a **validar a efetividade do novo meio de
pagamento, com mais confiança e rigidez na análise.**

O entregável do seu trabalho é o seguinte:
1. Qual a melhor forma de pagamento: Preenchimento Manual ou Automático do
formulário de dados do cartão de crédito?

# 0.0 Imports

In [36]:
import pandas as pd
import numpy as np

from statsmodels.stats import api as sms
from scipy.stats import ttest_ind

## 0.1 Load Data

In [2]:
path = 'C:/Users/edils/repos/teste_ab/data/'

df_raw = pd.read_csv(path + 'ab_testing.csv')

In [3]:
df_raw.head()

        uid country gender  spent  purchases        date  group device
0  11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1  11122053     USA      M    498          2  2017-07-14  GRP B      I
2  11128688     USA      F   2394          6  2017-09-17  GRP A      I
3  11130578     USA      F   1197          3  2017-11-30  GRP A      I
4  11130759     ESP      M   1297          3  2018-01-10  GRP B      A

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45883 entries, 0 to 45882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uid        45883 non-null  int64
 1   country    45883 non-null  object
 2   gender     45883 non-null  object
 3   spent      45883 non-null  int64
 4   purchases  45883 non-null  int64
 5   date       45883 non-null  object
 6   group      45883 non-null  object
 7   device     45883 non-null  object
dtypes: int64(3), object(5)
memory usage: 2.8+ MB

# 1.0 Design do Experimento

In [5]:
# Objetivo: Definir se o preenchimento automático é melhor que que o manual
# Métrica: GMV médio

# Grupo A = Preenchimento automático
# Grupo B = Preenchimento Manual

## 1.1 Hipóteses do Experimento

In [6]:
# H0 : média de gastos(GMV) da página A = média de gastos(GMV) da página B 
# H1 : média de gastos(GMV) da página A <> média de gastos(GMV) da página B

## 1.2 Tamanho da Amostra

In [80]:
#Effect size

#init_metric = Média Sales ou Média GMV
#end_metric = metric lift (5% sobre a metrica atual)
#std_metric = Desvio padrão das Sales ou GMV

#This values are from mean and std from Brazil
init_metric = 1874.18
end_metric = init_metric * 1.10

std_metric = 1305.25

effect_size = (end_metric - init_metric) / std_metric

sample_size = sms.tt_ind_solve_power(
    effect_size = effect_size,
    alpha = 0.05,
    power = 0.80
)

print(f"Número de Amostras: {np.ceil(sample_size).astype(int)}")

Número de Amostras: 763

In [81]:
sample_size = np.ceil(sample_size).astype(int)

# 2.0 Preparação dos Dados

In [82]:
df2 = df_raw.copy()

In [83]:
# Use Data only from Brazil
df2 = df2.loc[df2['country'] == 'ESP',:]

# mean and std
df2['spent'].agg(['mean','std'])

mean    1874.184592
std     1305.259136
Name: spent, dtype: float64

In [84]:
df2.head()

         uid country gender  spent  purchases        date  group device
4   11130759     ESP      M   1297          3  2018-01-10  GRP B      A
17  11149952     ESP      M    398          2  2017-02-02  GRP A      A
40  11183968     ESP      M    996          4  2016-04-01  GRP A      A
45  11193748     ESP      M    299          1  2016-10-11  GRP A      A
47  11199766     ESP      F    199          1  2017-05-04  GRP A      A

## 2.1 Check Na

In [85]:
df2.isna().sum()

uid          0
country      0
gender       0
spent        0
purchases    0
date         0
group        0
device       0
dtype: int64

## 2.2 Check Unidade Experimental (pessoas)

In [86]:
df2[['uid', 'group']].groupby('uid').count().reset_index().query('group > 1')

Empty DataFrame
Columns: [uid, group]
Index: []

In [87]:
#Nenhuma pessoa foi classificada errado pelos cookies

## 2.3 Control/Treatment Homogenity

In [88]:
df2[['group', 'gender', 'purchases', 'device','spent','country']].groupby('group').agg({
                                                            'country':'count',
                                                            'spent':['mean', 'std', 'min', 'max'],
                                                            'gender':'count',
                                                            'purchases':['mean', 'std', 'min', 'max'],
                                                            'device':'count'
                                                            
}).reset_index()

   group country        spent                        gender purchases  \
           count         mean          std min   max  count      mean
0  GRP A     970  1794.191753  1273.604015  99  8581    970  4.364948
1  GRP B     964  1954.675311  1332.172125  99  8980    964  4.764523

                    device
        std min max  count
0  2.934934   1  19    970
1  3.023540   1  20    964

In [89]:
#Parace que ambos os grupos são homogêneos

# 3.0 Testes de Hióteses

## 3.1 Groups

In [90]:
sample_A = df2.loc[df2['group'] == 'GRP A','spent'].sample(n=sample_size, random_state=42)
sample_B = df2.loc[df2['group'] == 'GRP B','spent'].sample(n=sample_size, random_state=42)

## 3.2 Inferência Estatística

In [91]:
t_test, p_value = ttest_ind(sample_A, sample_B)
print(f'p-value: {p_value}')

p-value: 0.04260378484423853

# 4.0 Conclusão

In [92]:
significance_level = 0.05
if p_value < significance_level:
    print('Rejeita Hipótese Nula')
else:
    print('Falha em rejeitar a hipótese nula')

Rejeita Hipótese Nula