# 0.0 Imports

In [11]:
import pandas as pd
import numpy as np
import math

from statsmodels.stats import api as sms

## 0.1 Loading

In [4]:
path = 'C:/Users/edils/repos/teste_ab/data/'

df_raw = pd.read_csv(path + 'ab_testing.csv')

In [5]:
df_raw.head()

        uid country gender  spent  purchases        date  group device
0  11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1  11122053     USA      M    498          2  2017-07-14  GRP B      I
2  11128688     USA      F   2394          6  2017-09-17  GRP A      I
3  11130578     USA      F   1197          3  2017-11-30  GRP A      I
4  11130759     ESP      M   1297          3  2018-01-10  GRP B      A

# 1.0 Parametros do Experimento

In [8]:
#nivel de confiança
confidence_level = 0.95

#nivel de significancia
significance_level = 0.05

#conversoes da pagina atual e nova
p1 = 0.13
p2 = 0.15

#tamanho do efeito
effect_size = sms.proportion_effectsize(p1, p2)

#poder Estatistico
power = 0.80

In [12]:
sample_n = sms.NormalIndPower().solve_power(
            effect_size,
            power=power,
            alpha=significance_level
)

sample_n = math.ceil(sample_n)

In [13]:
print(f"O tamanho total da amostra é: {2*sample_n}")
print(f"O tamanho da amostra do grupo de controle é: {sample_n}")
print(f"O tamanho da amostra do grupo de tratamento é: {sample_n}")

O tamanho total da amostra é: 9440
O tamanho da amostra do grupo de controle é: 4720
O tamanho da amostra do grupo de tratamento é: 4720