# 0.0 Imports

In [40]:
import pandas as pd
import numpy as np
import math

from statsmodels.stats import api as sms
from scipy.stats import shapiro, ttest_ind, mannwhitneyu, f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## 0.1 Loading

In [9]:
path = 'C:/Users/edils/repos/teste_ab/data/'

df_raw = pd.read_csv(path + 'ab_data.csv')

In [10]:
df_raw.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

# 1.0 Parametros do Experimento

In [11]:
#nivel de confiança
confidence_level = 0.95

#nivel de significancia
significance_level = 0.05

#conversoes da pagina atual e nova
p1 = 0.13
p2 = 0.15

#tamanho do efeito
effect_size = sms.proportion_effectsize(p1, p2)

#poder Estatistico
power = 0.80

In [12]:
sample_n = sms.NormalIndPower().solve_power(
            effect_size,
            power=power,
            alpha=significance_level
)

sample_n = math.ceil(sample_n)

In [13]:
print(f"O tamanho total da amostra é: {2*sample_n}")
print(f"O tamanho da amostra do grupo de controle é: {sample_n}")
print(f"O tamanho da amostra do grupo de tratamento é: {sample_n}")

O tamanho total da amostra é: 9440
O tamanho da amostra do grupo de controle é: 4720
O tamanho da amostra do grupo de tratamento é: 4720

# 2.0 Análise Descritiva

In [14]:
df2 = df_raw.copy()

## 2.1 Tamanho

In [15]:
df2.shape

(294478, 5)

## 2.2 Check Na

In [16]:
df2.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

## 2.3 Flags

In [17]:
#Check for duplicates
df2.loc[:,['user_id','landing_page','group']].groupby(['user_id']).nunique().query('landing_page > 1 or group > 1').reset_index()

      user_id  landing_page  group
0      630052             2      1
1      630126             2      1
2      630137             2      1
3      630320             1      2
4      630471             2      1
...       ...           ...    ...
3888   945627             1      2
3889   945645             2      1
3890   945703             2      1
3891   945797             2      1
3892   945971             2      1

[3893 rows x 3 columns]

In [18]:
# Divide duplicate users based on group and landing_page
df_query1 = df2.loc[:, ['user_id', 'group', 'landing_page']].groupby('user_id').nunique().query('landing_page > 1 or group > 1').reset_index()

# Filter only non_duplicate_users
df3 = df2[~df2['user_id'].isin(df_query1['user_id'])]

In [19]:
df3.shape

(286692, 5)

# 3.0 Amostragem Aleatoria dos grupos de Controle e Tratamento

In [20]:
df_control = df3.loc[df3['group'] == 'control',:].sample(sample_n, random_state=42)

df_treatment = df3.loc[df3['group'] == 'treatment',:].sample(sample_n, random_state=42)

print(f'Size of Control: {df_control.shape[0]}')
print(f'Size of Treatment: {df_control.shape[0]}')

Size of Control: 4720
Size of Treatment: 4720

## 3.1 Cálculo da métrica de interesse entre os grupos(Conversão de cada página)

In [21]:
#Control Group
control_buyers = df_control['converted'].sum()

control_visitors = len(df_control)

print(f"Conversion rate - Control Group: {control_buyers/control_visitors}" )
  
#Treatment Group      
treatment_buyers = df_treatment['converted'].sum()

treatment_visitors = len(df_treatment)

print(f"Conversion rate - Treament Group: {treatment_buyers/treatment_visitors}" )

Conversion rate - Control Group: 0.11546610169491525
Conversion rate - Treament Group: 0.11313559322033899

# 4.0 Teste Estatisticos

## One Sample T-Test

In [22]:
from scipy.stats import ttest_1samp

In [23]:
df = [14,14,16,13,12,17,15,14,15,13,15,14]

# Ho: u = 15 (A Altura medias das especies das plantas é, de fato, 15cm)
# H1: u <> 15 (A Altura medias das especies das plantas é diferente de 15cm)

In [24]:
np.mean(df)

14.333333333333334

In [25]:
statstic, pvalue = ttest_1samp(df, popmean=15)
print(f'p-value: {pvalue}')

alpha = 0.05 #Nivel de significancia

if pvalue < alpha:
    print('Rejeita a Hipótese Nula')
else:
    print('Falha em rejeitar a hipótese nula')
    
# Se p-value for < alpha rejeita-se a Ho.
# Ou seja, a altura media das plantas é diferente de 15 cm

# Se p-value for > alpha, não existe evidencia suficiente para se rejeitar Ho.
# Ou seja, as plantas podem ter em média 15 cm

p-value: 0.12014460742498101
Falha em rejeitar a hipótese nula

Imagine que você é um detetive e está investigando se um dado está viciado. A sua hipótese nula é que o dado não está viciado, ou seja, é justo. A hipótese alternativa é que o dado está viciado de alguma forma.

Agora, você decide fazer um teste usando esse dado. Você lança o dado várias vezes e anota os resultados. Com base nesses resultados, você calcula algo chamado "p-valor". **O p-valor é como uma medida que indica a probabilidade de obter os resultados que você viu, assumindo que o dado é justo (hipótese nula é verdadeira).**

Aqui entra a parte do "alpha". O alpha é um valor que você escolhe antes de fazer o teste. É como uma linha de corte que você define para decidir se tem evidência suficiente para rejeitar a hipótese nula. É como se fosse o limite de suspeita que você está disposto a aceitar. Geralmente, o valor de alpha é fixado em 0.05 (ou 5%).

Agora, você compara o p-valor que calculou com o valor de alpha. Se o p-valor for menor que o alpha, isso significa que os resultados que você viu são tão extremos que seria muito improvável que ocorressem se o dado fosse justo. Em outras palavras, você tem evidências fortes o suficiente para duvidar da hipótese nula e pode rejeitá-la.

Por exemplo, se você calculou um p-valor de 0.03 e seu alpha é 0.05, o p-valor é menor que o alpha, então você rejeita a hipótese nula e diz: "Com base nos meus resultados, o dado parece estar viciado de alguma forma".

No entanto, se o p-valor for maior que o alpha, você não tem evidências suficientes para rejeitar a hipótese nula. Nesse caso, você não pode afirmar com confiança que o dado está viciado.

## Two Sample T-Test(Condições paramétricas satisfeitas)

In [26]:
df1 = np.array([14,15,15,16,13,8,14,17,16,14,19,20,21,15,15,16,16,13,14,12])
df2 = np.array([15,17,14,17,14,8,12,19,19,14,17,22,24,16,13,16,13,18,15,13])

#Ho: u1 = u2 (A altura media das especies dos grupos sao iguais)
#Ho: u1 <> u2 (A altura media das especies dos grupos sao diferentes)

print(np.mean(df1))
print(np.mean(df2))

15.15
15.8

In [27]:
# Condições Paramétricas
# 1. Amostras independentes
# 2. Normalmente distruibuídos

## Teste de normalidade - Shapiro - OK
#Ho: Distribuição Normal
#H1: Distribuição Não normal

#p-value < alpha (0.05) -> Rejeito a hipotese nula

#p-value > alpha (0.05) -> Falha em rejeitar a hipotese nula

stats1, pvalue1 = shapiro(df1)
print(f'como o p-value é {pvalue1}, ou seja, maior que meu alpha, a distruibuição é normal')

stats2, pvalue2 = shapiro(df2)
print(f'como o p-value é {pvalue2}, ou seja, maior que meu alpha, a distruibuição é normal')

#2. Variancias iguais - OK
print(f'Var 1: {np.var(df1)}')
print(f'Var 2: {np.var(df2)}')

stats, pvalue = ttest_ind(df1, df2, equal_var=True)

print(f'p-value: {pvalue}')

alpha = 0.05
if pvalue < alpha:
    print('Rejeita a hipótese nula')
    
else:
    print('Falha em rejeitar a hipótese nula')

como o p-value é 0.2267739325761795, ou seja, maior que meu alpha, a distruibuição é normal
como o p-value é 0.6782065033912659, ou seja, maior que meu alpha, a distruibuição é normal
Var 1: 7.727500000000001
Var 2: 12.260000000000002
p-value: 0.5300471010405257
Falha em rejeitar a hipótese nula

In [28]:
12/7  < 4 : Amostrar tem variância igual

SyntaxError: illegal target for annotation (2650759407.py, line 1)

## Mann-Whitney(Condições paramétricas Não - satisfeitas)

In [ ]:
df1 = [20,23,21,20,18,17,18,14,20,24,43,19]
df2 = [24,25,21,22,23,18,17,28,24,27,21,23]

In [ ]:
#Ho: u1 = u2 (A altura media das especies dos grupos sao iguais)
#Ho: u1 <> u2 (A altura media das especies dos grupos sao diferentes)

In [ ]:
## Teste de normalidade - Shapiro - NÃO SATISFEITO
#Ho: Distribuição Normal
#H1: Distribuição Não normal

#p-value < alpha (0.05) -> Rejeito a hipotese nula

#p-value > alpha (0.05) -> Falha em rejeitar a hipotese nula

stats1, pvalue1 = shapiro(df1)
print(f'como o p-value é {pvalue1}, ou seja, maior que meu alpha, a distruibuição é normal')

stats2, pvalue2 = shapiro(df2)
print(f'como o p-value é {pvalue2}, ou seja, maior que meu alpha, a distruibuição é normal')

#2. Variancias iguais - OK
print(f'Var 1: {np.var(df1)}')
print(f'Var 2: {np.var(df2)}')

In [ ]:
48/9 -> Variancia ok

In [ ]:
stats, pvalue = mannwhitneyu(df1, df2)

print(f'p-value: {pvalue}')

alpha = 0.05
if pvalue < alpha:
    print('Rejeita a hipótese nula')
    
else:
    print('Falha em rejeitar a hipótese nula')

# One-way ANOVA

In [30]:
df = pd.DataFrame({
    'A': [25,30,28,36,29],
    'B': [45,55,29,56,40],
    'C': [30,29,33,37,27],
    'D': [54,60,51,62,73],
    
})

In [31]:
df

    A   B   C   D
0  25  45  30  54
1  30  55  29  60
2  28  29  33  51
3  36  56  37  62
4  29  40  27  73

In [32]:
# Existe uma diferença na média nos 4 casos?

In [33]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['A','B','C','D'])
df_melt.columns = ['index','treatment','value']
df_melt.head()

   index treatment  value
0      0         A     25
1      1         A     30
2      2         A     28
3      3         A     36
4      4         A     29

In [35]:
print(f"p-value - Grupo A: {shapiro(df['A'])}")
print(f"p-value - Grupo B: {shapiro(df['B'])}")
print(f"p-value - Grupo C: {shapiro(df['C'])}")
print(f"p-value - Grupo D: {shapiro(df['D'])}")


print(f"variance - Grupo A: {np.var(df['A'])}")
print(f"variance - Grupo B: {np.var(df['B'])}")
print(f"variance - Grupo C: {np.var(df['C'])}")
print(f"variance - Grupo D: {np.var(df['D'])}")

p-value - Grupo A: ShapiroResult(statistic=0.9316344261169434, pvalue=0.6075581908226013)
p-value - Grupo B: ShapiroResult(statistic=0.9264495968818665, pvalue=0.5723677277565002)
p-value - Grupo C: ShapiroResult(statistic=0.9529604315757751, pvalue=0.7583119869232178)
p-value - Grupo D: ShapiroResult(statistic=0.9448273181915283, pvalue=0.7002365589141846)
variance - Grupo A: 13.040000000000001
variance - Grupo B: 100.4
variance - Grupo C: 12.16
variance - Grupo D: 58.0

In [39]:
stats, pvalue = f_oneway(df['A'],df['B'],df['C'],df['D'])
print(pvalue)

#Ho = Não há diferença na altura média
#H1 = Há diferença entre as alturas médias

alpha = 0.05

if pvalue < alpha:
    print('Rejeita a hipotese nula')
    
else:
    print('Falha em rejeitar a hipotese nula')

2.6392411462109217e-05
Rejeita a hipotese nula

In [42]:
tukey = pairwise_tukeyhsd(
            endog=df_melt['value'],
            groups=df_melt['treatment'],
            alpha=0.05
)

print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     A      B     15.4 0.0251   1.694 29.106   True
     A      C      1.6 0.9867 -12.106 15.306  False
     A      D     30.4 0.0001  16.694 44.106   True
     B      C    -13.8 0.0482 -27.506 -0.094   True
     B      D     15.0 0.0296   1.294 28.706   True
     C      D     28.8 0.0001  15.094 42.506   True
---------------------------------------------------